<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	</head>
	<body>
		<!-- User Management Page -->
		<div class="flex justify-center p-4 min-h-screen bg-gray-100">
			<div class="w-full max-w-6xl">
				<div class="flex items-center justify-between mb-4">
					<h1 id="site-header" class="text-3xl font-bold text-gray-800">
						Task Management
					</h1>
					<div class="flex items-center justify-end">
						<span class="text-gray-700 text-sm mr-2">
							Welcome,
							<b class="font-bold"><%= me.name %> (<%= me.email %>)</b>
						</span>
						<a
							href="/logout"
							class="bg-red-600 hover:bg-red-700 text-white text-sm font-semi py-1 px-4 rounded focus:outline-none focus:shadow-outline">
							Logout
						</a>
					</div>
				</div>
				<div class="flex items-center justify-start mb-4">
					<a class="mr-4 text-gray-400" href="/"> < Back </a>
					<button
						id="addUserBtn"
						class="bg-gray-600 hover:bg-gray-700 text-white text-sm font-semi py-2 px-6 rounded focus:outline-none focus:shadow-outline mr-2">
						Add User
					</button>
				</div>

				<table class="w-full bg-white shadow-md rounded overflow-hidden">
					<thead class="font-bold bg-gray-300 py-3">
						<th class="py-3 pl-8">SN</th>
						<th class="py-3">Name</th>
						<th class="py-3">Email</th>
						<th class="py-3">Role</th>
						<th class="py-3">Created</th>
						<th class="py-3">Action</th>
					</thead>
					<tbody>
						<% users.forEach((user, index) => { %>
						<tr class="border-b-2 border-gray-100 py-1 px-1">
							<td class="px-3 py-2 pl-8 text-right"><%= index+1 %></td>
							<td class="px-3 py-2"><%= user.name %></td>
							<td class="px-3 py-2"><%= user.email %></td>
							<td class="px-3 py-2"><%= user.role %></td>
							<td class="px-3 py-2"><%= user.createdAt %></td>
							<td class="flex px-3 py-2">
								<a
									href="/edit-user/<%= user.id %>"
									class="bg-gray-600 hover:bg-gray-700 text-white text-sm font-semi py-1 px-4 rounded focus:outline-none focus:shadow-outline mr-2">
									Edit
								</a>
								<button
									class="bg-red-600 hover:bg-red-700 text-white text-sm font-semi py-1 px-4 rounded focus:outline-none focus:shadow-outline"
									onclick="deleteUser('<%= user.id %>')">
									Delete
								</button>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>

			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

			<script>
				$(document).ready(function () {
					$("#addUserBtn").click(function () {
						window.location.href = "/add-user";
					});
				});

				function deleteUser(userId) {
					Swal.fire({
						title: "Are you sure?",
						text: "You won't be able to revert this!",
						icon: "warning",
						showCancelButton: true,
						confirmButtonColor: "#3085d6",
						cancelButtonColor: "#d33",
						confirmButtonText: "Yes, delete it!",
					}).then((result) => {
						if (result.isConfirmed) {
							$.ajax({
								url: `/api/v1/user/${userId}`,
								type: "DELETE",
								success: function (response) {
									if (response.status === "success") {
										toastr.success("User deleted successfully!");
										setTimeout(() => {
											location.reload();
										}, 1000);
									} else {
										toastr.error(response.message);
									}
								},
								error: function (error) {
									toastr.error("Something went wrong!");
								},
							});
						}
					});
				}
			</script>
		</div>
	</body>
</html>
